---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="株式会社Orfool">
	<section class="bg-green-500">
		<div class="container m-auto">
			<h2 class="text-9xl text-center font-extrabold text-white pt-40">
				TRY ALL, <br />ENJOY ALL
			</h2>
			<p class="text-4xl text-center font-extrabold text-white pt-10 pb-40">
				テクノロジーの力であなたの仕事をサポートします！
			</p>
		</div>
	</section>
	<section>
		<div class="container m-auto p-24">
			<h3 class="text-7xl text-center font-extrabold text-green-500 mb-14">
				ABOUT
			</h3>
			<p class="px-40 leading-10">
				2011年、株式会社Orfoolは小江戸川越で創業いたしました。現在は東京都渋谷区において、
				Web制作を中心に、システム開発やWebコンサルティングなどの活動をしております。我々はお客様のご要望をしっかりと理解し、
				適切なアドバイス・施策を実行する集団です。常に最新の技術をキャッチアップし、お客様の利益の最大化を目指してまいります。
			</p>
		</div>
	</section>
	<section class="">
		<div class="container m-auto p-24">
			<h3 class="text-7xl text-center font-extrabold text-green-500 mb-14">
				SERVICE
			</h3>
			<div class="flex flex-wrap justify-around gap-10">
				<div class="max-w-xs rounded overflow-hidden shadow-lg">
					<img
						class="w-full"
						src="../img/top/1-min.jpg"
						alt="Sunset in the mountains"
					/>
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">ホームページ制作</div>
						<p class="text-gray-700 text-base">
							お客様がウェブサイトを通じて達成したい目標を理解し、目標を素早く達成するために必要なウェブサイトを制作いたします。
						</p>
					</div>
					<div class="px-6 pt-4 pb-2">
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#photography</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#travel</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#winter</span
						>
					</div>
				</div>
				<div class="max-w-xs rounded overflow-hidden shadow-lg">
					<img
						class="w-full"
						src="../img/top/2-min.jpg"
						alt="Sunset in the mountains"
					/>
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">ウェブアプリケーション開発</div>
						<p class="text-gray-700 text-base">
							お客様が日々行っている単純作業、そんな負担を軽減いたします。
						</p>
					</div>
					<div class="px-6 pt-4 pb-2">
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#photography</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#travel</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#winter</span
						>
					</div>
				</div>
				<div class="max-w-xs rounded overflow-hidden shadow-lg">
					<img
						class="w-full"
						src="../img/top/3-min.jpg"
						alt="Sunset in the mountains"
					/>
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">スマートフォンアプリ開発</div>
						<p class="text-gray-700 text-base">
							「こんなアプリがあったら便利なのに！」、そんなお客様は是非ご相談ください。あなたのアイデアを実現いたします。
						</p>
					</div>
					<div class="px-6 pt-4 pb-2">
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#photography</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#travel</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#winter</span
						>
					</div>
				</div>
				<div class="max-w-xs rounded overflow-hidden shadow-lg">
					<img
						class="w-full"
						src="../img/top/4-min.jpg"
						alt="Sunset in the mountains"
					/>
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">ウェブコンサルティング</div>
						<p class="text-gray-700 text-base">
							SEO/SEMをはじめとするウェブに関するお客様の悩みをプロが解決いたします。
						</p>
					</div>
					<div class="px-6 pt-4 pb-2">
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#photography</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#travel</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#winter</span
						>
					</div>
				</div>
				<div class="max-w-xs rounded overflow-hidden shadow-lg">
					<img
						class="w-full"
						src="../img/top/5-min.jpg"
						alt="Sunset in the mountains"
					/>
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">移動式バートラック事業</div>
						<p class="text-gray-700 text-base">
							移動式バートラックであなたのイベントを盛り上げます。
						</p>
					</div>
					<div class="px-6 pt-4 pb-2">
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#photography</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#travel</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#winter</span
						>
					</div>
				</div>
				<div class="max-w-xs rounded overflow-hidden shadow-lg">
					<img
						class="w-full"
						src="../img/top/6-min.jpg"
						alt="Sunset in the mountains"
					/>
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">イベント制作事業</div>
						<p class="text-gray-700 text-base">
							社内イベントや企業PRなど、予算にあわせた素晴らしいイベントを制作いたします。
						</p>
					</div>
					<div class="px-6 pt-4 pb-2">
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#photography</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#travel</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#winter</span
						>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container m-auto p-24">
			<h3 class="text-7xl text-center font-extrabold text-green-500 mb-14">
				WORKS
			</h3>
			<img
				class="m-auto max-h-80"
				src="../img/top/1-min.jpg"
				alt="Sunset in the mountains"
			/>
		</div>
	</section>
	<section class="">
		<div class="container m-auto p-24">
			<h3 class="text-7xl text-center font-extrabold text-green-500 mb-14">
				MEMBERS
			</h3>
			<div class="flex flex-wrap justify-around gap-10">
				<div class="max-w-xs rounded overflow-hidden shadow-lg">
					<img
						class="m-auto"
						src="../img/top/member1.jpg"
						alt="Sunset in the mountains"
					/>
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">宮倉洋樹</div>
						<p class="text-gray-700 text-base">
							早稲田大学政治経済学部在学時に株式会社Orfoolを設立。ゴルフ狂。暇さえあればスイング研究を行う熱心なゴルファー。グリーン周りの逆目が苦手。パターも苦手。コーディングもデザインも営業もコンサルティングもやります。今年から営業も頑張ります。
						</p>
					</div>
					<div class="px-6 pt-4 pb-2">
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#photography</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#travel</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#winter</span
						>
					</div>
				</div>
				<div class="max-w-xs rounded overflow-hidden shadow-lg">
					<img
						class="m-auto"
						src="../img/top/member2.png"
						alt="Sunset in the mountains"
					/>
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">新井崇寛</div>
						<p class="text-gray-700 text-base">
							法政大学法学部卒。サッカー全国大会優勝経験者。柔軟かつ効果的なディレクションを得意とするWebディレクター。いつも最短コースを見つけて進行しますが、時にはあえて一緒に遠回りしてくれるよな、お客さまに寄り添って仕事をする人。発想や知識は常にフレッシュで頼りになります。
						</p>
					</div>
					<div class="px-6 pt-4 pb-2">
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#photography</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#travel</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#winter</span
						>
					</div>
				</div>
				<div class="max-w-xs rounded overflow-hidden shadow-lg">
					<img
						class="m-auto"
						src="../img/top/member3.jpg"
						alt="Sunset in the mountains"
					/>
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">齋藤大地</div>
						<p class="text-gray-700 text-base">
							中央大学法学部卒。大手Sler出身。三度の飯よりコーディングが好きな人間。得意じゃないイラレやフォトショなどの仕事をしている時は目が死んでいる。使用言語は、Java、PHP、Javascript、Rails、Swift、Kotlin（ちょっとだけ）。
						</p>
					</div>
					<div class="px-6 pt-4 pb-2">
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#photography</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#travel</span
						>
						<span
							class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
							>#winter</span
						>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container m-auto p-24">
			<h3 class="text-7xl text-center font-extrabold text-green-500 mb-14">
				BLOG
			</h3>
			<div class="max-w-sm w-full lg:max-w-full lg:flex mb-7 shadow-lg">
				<div
					class="h-48 lg:h-auto lg:w-96 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
					style="background-image: url('../img/top/1-min.jpg')"
					title="Woman holding a mug"
				>
				</div>
				<div
					class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
				>
					<div class="mb-8">
						<p class="text-sm text-gray-600 flex items-center">
							<svg
								class="fill-current text-gray-500 w-3 h-3 mr-2"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
							>
								<path
									d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z"
								></path>
							</svg>
							Members only
						</p>
						<div class="text-gray-900 font-bold text-xl mb-2">
							Can coffee make you a better developer?
						</div>
						<p class="text-gray-700 text-base">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Voluptatibus quia, nulla! Maiores et perferendis eaque,
							exercitationem praesentium nihil.
						</p>
					</div>
					<div class="flex items-center">
						<img
							class="w-10 h-10 rounded-full mr-4"
							src="../img/top/1-min.jpg"
							alt="Avatar of Jonathan Reinink"
						/>
						<div class="text-sm">
							<p class="text-gray-900 leading-none">Jonathan Reinink</p>
							<p class="text-gray-600">Aug 18</p>
						</div>
					</div>
				</div>
			</div>
			<div class="max-w-sm w-full lg:max-w-full lg:flex mb-7 shadow-lg">
				<div
					class="h-48 lg:h-auto lg:w-96 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
					style="background-image: url('../img/top/2-min.jpg')"
					title="Woman holding a mug"
				>
				</div>
				<div
					class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
				>
					<div class="mb-8">
						<p class="text-sm text-gray-600 flex items-center">
							<svg
								class="fill-current text-gray-500 w-3 h-3 mr-2"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
							>
								<path
									d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z"
								></path>
							</svg>
							Members only
						</p>
						<div class="text-gray-900 font-bold text-xl mb-2">
							Can coffee make you a better developer?
						</div>
						<p class="text-gray-700 text-base">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Voluptatibus quia, nulla! Maiores et perferendis eaque,
							exercitationem praesentium nihil.
						</p>
					</div>
					<div class="flex items-center">
						<img
							class="w-10 h-10 rounded-full mr-4"
							src="../img/top/2-min.jpg"
							alt="Avatar of Jonathan Reinink"
						/>
						<div class="text-sm">
							<p class="text-gray-900 leading-none">Jonathan Reinink</p>
							<p class="text-gray-600">Aug 18</p>
						</div>
					</div>
				</div>
			</div>
			<div class="max-w-sm w-full lg:max-w-full lg:flex mb-7 shadow-lg">
				<div
					class="h-48 lg:h-auto lg:w-96 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
					style="background-image: url('../img/top/3-min.jpg')"
					title="Woman holding a mug"
				>
				</div>
				<div
					class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
				>
					<div class="mb-8">
						<p class="text-sm text-gray-600 flex items-center">
							<svg
								class="fill-current text-gray-500 w-3 h-3 mr-2"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
							>
								<path
									d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z"
								></path>
							</svg>
							Members only
						</p>
						<div class="text-gray-900 font-bold text-xl mb-2">
							Can coffee make you a better developer?
						</div>
						<p class="text-gray-700 text-base">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Voluptatibus quia, nulla! Maiores et perferendis eaque,
							exercitationem praesentium nihil.
						</p>
					</div>
					<div class="flex items-center">
						<img
							class="w-10 h-10 rounded-full mr-4"
							src="../img/top/3-min.jpg"
							alt="Avatar of Jonathan Reinink"
						/>
						<div class="text-sm">
							<p class="text-gray-900 leading-none">Jonathan Reinink</p>
							<p class="text-gray-600">Aug 18</p>
						</div>
					</div>
				</div>
			</div>
			<div class="max-w-sm w-full lg:max-w-full lg:flex shadow-lg">
				<div
					class="h-48 lg:h-auto lg:w-96 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
					style="background-image: url('../img/top/4-min.jpg')"
					title="Woman holding a mug"
				>
				</div>
				<div
					class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
				>
					<div class="mb-8">
						<p class="text-sm text-gray-600 flex items-center">
							<svg
								class="fill-current text-gray-500 w-3 h-3 mr-2"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
							>
								<path
									d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z"
								></path>
							</svg>
							Members only
						</p>
						<div class="text-gray-900 font-bold text-xl mb-2">
							Can coffee make you a better developer?
						</div>
						<p class="text-gray-700 text-base">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Voluptatibus quia, nulla! Maiores et perferendis eaque,
							exercitationem praesentium nihil.
						</p>
					</div>
					<div class="flex items-center">
						<img
							class="w-10 h-10 rounded-full mr-4"
							src="../img/top/4-min.jpg"
							alt="Avatar of Jonathan Reinink"
						/>
						<div class="text-sm">
							<p class="text-gray-900 leading-none">Jonathan Reinink</p>
							<p class="text-gray-600">Aug 18</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>
