<div class="bg-green-500">
	<header class="container m-auto p-7">
		<a href="/"
			><h1 class="text-4xl text-white font-extrabold absolute">Orfool inc.</h1>
		</a>
		<nav>
			<ul class="flex gap-7 justify-end text-white">
				<li><a href="/about">About</a></li>
				<li><a href="/service">Service</a></li>
				<li><a href="/works">Works</a></li>
				<li><a href="/posts/post-1.md">Blog</a></li>
				<li><a href="/posts/post-2.astro">Blog</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>
</div>
