---
const { title } = Astro.props;
import { contentfulClient } from '../lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import type { Document } from '@contentful/rich-text-types';

interface BlogPost {
	title: string;
	content: Document;
}

const entries = await contentfulClient.getEntries<BlogPost>({
	content_type: 'blogPost',
});
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		{
			entries.items.map((item) => (
				<section>
					<h2>{item.fields.name}</h2>
					<article set:html={documentToHtmlString(items.fields.content)} />
				</section>
			))
		}
		<slot />
	</body>
</html>
